<div id="page-content">
  <div class="row justify-content-md-center">
    <div class="card mt-4 col-8">
      <div class="card-body">
        
        <h1 class="text-center card-title">Create a new article</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>