
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Joseph Giroux", "https://www.linkedin.com/in/joseph-giroux-9676ba52/", class: "text-white" %></small>
    </div>
  </footer>